<section class="banner conteiner">
  <h1 class="banner-title">
    Treat yourself or a loved one to our finest ingredients for a moment of pure
    delight!
  </h1>
  <ul class="banner-list">
    <li class="banner-item"><button class="buy">Buy now</button></li>
    <li class="banner-item">
      <button class="banner-made">
        <a href="#made">How it’s made</a>
      </button>
    </li>
  </ul>
  <a class="scroll" href="#top">
    <p class="banner-text">scroll down</p>
    <svg width="23" height="23">
      <use
        class="scroll-svg"
        href="images/symbol-defs.svg#icon-arrow_down"
        width="24"
        height="24"
      ></use>
    </svg>
  </a>
</section>
