<article class="banner conteiner">
  <h1 class="banner-title">
    Treat yourself or a loved one to our finest ingredients for a moment of pure
    delight!
  </h1>
  <ul class="banner-list">
    <li class="banner-item"><button>Buy now</button></li>
    <li class="banner-item"><button>How it’s made</button></li>
  </ul>
  <div class="banner-scroll">
    <p class="banner-text">scroll down</p>
    <button class="scroll">
      <svg width="24" height="24">
        <use
          href="images/symbol-defs.svg#icon-arrow_down"
          width="24"
          height="24"
        ></use>
      </svg>
    </button>
  </div>
</article>
