<header class="header conteiner">
  <a href="#" class="header-logo"
    ><span style="font-style: italic">SIMPLY</span> CHOCOLATE
    <img src="images/logo.png" alt="logo"
  /></a>
  <ul class="header-list">
    <li class="header-item"><a href="#" class="header-list-link">Home</a></li>
    <li class="header-item">
      <a href="#made" class="header-list-link">How it’s made?</a>
    </li>
    <li class="header-item">
      <a href="#mySlider" class="header-list-link">Our products</a>
    </li>
    <li class="header-item">
      <a href="#top" class="header-list-link">Top sellers</a>
    </li>
    <li class="header-item">
      <a href="#review" class="header-list-link">Chocolate is loved</a>
    </li>
  </ul>
  <ul class="header-social">
    <li class="header-social">
      <svg width="24" height="24">
        <use
          href="images/symbol-defs.svg#icon-instagram"
          width="24"
          height="24"
        ></use>
      </svg>
    </li>
    <li class="header-social">
      <svg width="24" height="24">
        <use href="images/symbol-defs.svg#icon-x" width="24" height="24"></use>
      </svg>
    </li>
  </ul>
  <svg width="36" height="36" class="header-svg">
    <use href="images/symbol-defs.svg#icon-menu"></use>
  </svg>
</header>
