<section class="ingredients conteiner">
  <h2 class="ingredients-title">
    IT ALL ADDS UP TO ONE EXCEPTIONAL
    <span style="color: #fd9222">TASTE</span> SENSATION
  </h2>
  <p class="ingredients-text">
    At Simply Chocolate, we believe that the secret to exceptional chocolate is
    in the details. From the sourcing of the finest ingredients to the careful
    crafting of each individual piece, every step of our process adds up to one
    exceptional taste sensation.
  </p>
  <ul class="ingredients-list">
    <li class="ingredients-item">
      <img
        src="images/products-chocolate.png"
        alt="chocolate"
        class="ingredients-img"
      />
      <p class="ingredients-text">MILK CHOCOLATE</p>
    </li>
    <li class="ingredients-item">
      <img src="images/products-milk.png" alt="milk" class="ingredients-img" />
      <p class="ingredients-text">MILK</p>
    </li>
    <li class="ingredients-item">
      <img src="images/products-nuts.png" alt="nuts" class="ingredients-img" />
      <p class="ingredients-text">NUTS</p>
    </li>
    <li class="ingredients-item">
      <img
        src="images/products-chocolate-dripls.png"
        alt="dripls"
        class="ingredients-img"
      />
      <p class="ingredients-text">SEMI - SWEET CHOCOLATE</p>
    </li>
  </ul>
</section>
