<section class="ingredients conteiner">
  <h2 class="ingredients-title">
    IT ALL ADDS UP TO ONE EXCEPTIONAL
    <span style="color: #fd9222">TASTE</span> SENSATION
  </h2>
  <p class="ingredients-text">
    At Simply Chocolate, we believe that the secret to exceptional chocolate is
    in the details. From the sourcing of the finest ingredients to the careful
    crafting of each individual piece, every step of our process adds up to one
    exceptional taste sensation.
  </p>
  <ul class="ingredients-list">
    <li class="ingredients-item flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="images/products-chocolate.png"
            alt="chocolate"
            class="ingredients-img"
          />
          <p class="ingredients-list-text">MILK CHOCOLATE</p>
        </div>
        <div class="flip-card-back">
          <h3 class="popup-title">Milk chocolate</h3>
          <div class="popup-wrap">
            <div class="ingredient-name"><p>chocolate</p></div>
            <div class="benefits"><p>the benefits</p></div>
          </div>
          <p class="popup-text">
            Milk chocolate is a solid chocolate confectionery containing cocoa,
            sugar and milk. It is the most consumed type of chocolate. Chocolate
            was originally sold and consumed as a beverage in pre-Columbian
            times. Although four-fifths of all milk chocolate is sold in the
            United States and Europe, increasingly large amounts are consumed in
            China and Latin America.
          </p>
        </div>
      </div>
    </li>
    <li class="ingredients-item flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="images/products-milk.png"
            alt="milk"
            class="ingredients-img"
          />
          <p class="ingredients-list-text">MILK</p>
        </div>
        <div class="flip-card-back">
          <h3 class="popup-title">Milk</h3>
          <div class="popup-wrap">
            <div class="ingredient-name"><p>milk</p></div>
            <div class="benefits"><p>the benefits</p></div>
          </div>
          <p class="popup-text">
            Milk is a white liquid food produced by the mammary glands of
            mammals. It is the primary source of nutrition for young mammals
            (including breastfed human infants) before they are able to digest
            solid food.Early-lactation milk, which is called colostrum, contains
            antibodies that strengthen the immune system, and thus reduces the
            risk of many diseases. Milk contains many nutrients, including
            protein and lactose.
          </p>
        </div>
      </div>
    </li>
    <li class="ingredients-item flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="images/products-nuts.png"
            alt="nuts"
            class="ingredients-img"
          />
          <p class="ingredients-list-text">NUTS</p>
        </div>
        <div class="flip-card-back">
          <h3 class="popup-title">Nuts</h3>
          <div class="popup-wrap">
            <div class="ingredient-name"><p>nuts</p></div>
            <div class="benefits"><p>the benefits</p></div>
          </div>
          <p class="popup-text">
            Almonds, pistachios, and walnuts are some types of nuts that contain
            healthy nutrients. When eaten as part of a nutrient-dense diet,
            these 9 nuts may offer benefits such as reducing your risk of heart
            disease. They’re a good source of fiber, healthy fats, and plant
            protein. Plus, they’re great on their own, paired with fruit, or
            added to dishes like salads, desserts, and grains.
          </p>
        </div>
      </div>
    </li>
    <li class="ingredients-item flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            src="images/products-chocolate-dripls.png"
            alt="dripls"
            class="ingredients-img"
          />
          <p class="ingredients-list-text">SEMI - SWEET CHOCOLATE</p>
        </div>
        <div class="flip-card-back">
          <h3 class="popup-title">semi - sweet chocolate</h3>
          <div class="popup-wrap">
            <div class="ingredient-name"><p>sweet chocolate</p></div>
            <div class="benefits"><p>the benefits</p></div>
          </div>
          <p class="popup-text">
            Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of
            the best ways to gain an understanding of this type of chocolate is
            to compare it to a different type of chocolate. Semisweet is darker
            than milk chocolate. In a taste comparison, it has a slightly bitter
            taste whereas milk chocolate is sweeter and more mellow. This
            delectable flavor of chocolate is very versatile.
          </p>
        </div>
      </div>
    </li>
  </ul>
</section>
