<section class="products conteiner">
  <h2 class="products-title">
    OUR <span style="color: #fd9222">PRODUCTS</span>
  </h2>
  <ul class="product-list">
    <li class="product-item">
      <img src="images/chocolate-1.png" alt="" />
      <h3 class="product-list-title">ORANGE</h3>
      <p class="product-list-text">Dark chocolate</p>
      <p class="product-price">45 UAH</p>
    </li>
    <li class="product-item">
      <img src="images/chocolate-2.png" alt="" />
      <h3 class="product-list-title">APPLE&CRANBERRY</h3>
      <p class="product-list-text">Milk chocolate</p>
      <p class="product-price">50 UAH</p>
    </li>
    <li class="product-item">
      <img src="images/chocolate-3.png" alt="" />
      <h3 class="product-list-title">lIME&SEA SALT</h3>
      <p class="product-list-text">Dark chocolate</p>
      <p class="product-price">66 UAH</p>
    </li>
    <li class="product-item">
      <img src="images/chocolate-4.png" alt="" />
      <h3 class="product-list-title">PINEAPPLE</h3>
      <p class="product-list-text">Dark chocolate</p>
      <p class="product-price">54 UAH</p>
    </li>
    <li class="product-item">
      <img src="images/chocolate-5.png" alt="" />
      <h3 class="product-list-title">CLASSIC</h3>
      <p class="product-list-text">Milk chocolate</p>
      <p class="product-price">45 UAH</p>
    </li>
    <li class="product-item">
      <img src="images/chocolate-6.png" alt="" />
      <h3 class="product-list-title">HONEY</h3>
      <p class="product-list-text">Milk chocolate</p>
      <p class="product-price">50 UAH</p>
    </li>
    <li class="product-item">
      <img src="images/chocolate-7.png" alt="" />
      <h3 class="product-list-title">ROASTED FRUITS</h3>
      <p class="product-list-text">Dark chocolate</p>
      <p class="product-price">66 UAH</p>
    </li>
    <li class="product-item">
      <img src="images/chocolate-8.png" alt="" />
      <h3 class="product-list-title">CLASSIC</h3>
      <p class="product-list-text">White chocolate</p>
      <p class="product-price">54 UAH</p>
    </li>
  </ul>
</section>
