<section class="topsellers">
  <h2 class="topsellers-title" id="top">TOP Sellers</h2>
  <ul class="topsellers-list">
    <li class="topsellers-item">
      <img src="images/topselling-first.png" alt="1" />
    </li>
    <li class="topsellers-item">
      <img src="images/topselling-second.png" alt="2" />
    </li>
    <li class="topsellers-item">
      <img src="images/topselling-third.png" alt="3" />
    </li>
  </ul>
  <p class="topsellers-text">
    Crazy enough chocolate originates from a bean just like the coffee bean
    called Cacao. Cacao has been around for thousands of years and was first
    discovered by the Native American tribe called the Mayans.
  </p>
  <button class="topsellers-btn">Buy now</button>
</section>
