.flip-card {
    background-color: transparent;
    width: 270px;
    height: 270px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    padding: 28px;
    border-radius: 15px;
    border: 1px solid rgba(253, 146, 34, 1);
    gap: 10px;

}

.popup-wrap {
    display: flex;
    gap: 8px;
}

.popup-title {
    color: #111;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    text-align: left;
    width: 214px;
}

.ingredient-name {
    border-radius: 35px;
    background: #FD9222;
    padding: 8px 15px 8px 15px;
}

.ingredient-name p {
    color: #fff;
    color: #FFF;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 400;
    line-height: 120%;
}

.benefits {
    border-radius: 35px;
    border: 1px solid #FD9222;
    background: #FAFAFA;
    padding: 8px 15px 8px 15px;
}

.benefits p {
    color: #111;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 400;
    line-height: 120%;
}

.popup-text {
    overflow: hidden;
    color: #111;
    text-overflow: ellipsis;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 128.571%;
    letter-spacing: -0.28px;
    height: 146px;
    text-align: left;
    overflow-y: scroll;


}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #FD9222;
}

::-webkit-scrollbar-thumb {
    background: #111;
}