.review-btn {
    border-radius: 100px;
    border: 1px solid #FD9222;
    width: 222px;
    height: 50px;
    padding: 14px 40px;
    gap: 14px;
    color: #111;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;

    &:hover {
        background: #FD9222;
        color: #fff;
    }
}